apiVersion: batch/v1
kind: Job
metadata:
  name: backend-init-db
  namespace: library
spec:
  template:
    spec:
      restartPolicy: Never
      containers:
      - name: init-db
        image: library-backend:latest
        imagePullPolicy: IfNotPresent
        command: ["python", "init_db.py"]
        env:
        - name: DATABASE_URL
          valueFrom:
            secretKeyRef:
              name: backend-secret
              key: database-url
        - name: JWT_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: backend-secret
              key: jwt-secret-key
